#prof{
    margin-top:2vh;
}
#prof1{
    margin-top:4.5vh;
}
#profiletitle{
    
    font-size: 8.3vh;
    font-weight: 500;
    letter-spacing: 1px;
    word-spacing: 1.4vh; 
    margin-bottom:3.5vh; 
    text-align: center;
}
.profile{
    align-items: left;
}
#profilecard{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 10vh;
    padding-right: 10vh;
    width: auto;
    height: 24rem;
}