.container-register{
    background-color: #e99041;
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1.5vh;
}
#forgot1{
    color:#924d10 ;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 3.1vh;
    padding: 1vh;
}
.wrap-input100 {
    width: 100%;
    position: relative;
  }

#cardregister{
    width: 95%;
    margin-bottom: 8.5vh;
    margin-top: 8.7vh;
}

.card-body{
    margin-top:1.6vh;
}

