/*.Product 
{
    display : inline-block;
    box-shadow: 2px 3px rgb(77, 65, 65);
    border : 1px solid rgb(82, 62, 62);
    margin : 16px 14px;
    padding : 16px;
    width : 40%;
    
}*/


/* .prod-card
{
    width: 450px;
    height: 475px;
    max-width: 450px;
    max-height: 475px;
} */

.Product
{
    display: inline-block;
    margin: 16px 14px;
}

.card {
	width: 18rem;
	height: 42rem;
	margin-top: 10px;
}

.card-img-top
{
	width: 18rem;
	height: 20rem;
	object-fit: contain;
}

.card-title
{
	display: block;
    text-align: left;
    margin-left: 10px;
}

.card-body
{
	margin-top: 5px;
	height: auto;
}

.price
{
    font-size: 25px;
    margin: 1px;
}

.desc-list
{
	font-size: 80%;
    margin-top: 30px;
}


.prod-btn
{
	font-size: 80%;
    border-radius: 5px;
    background-color: black;
	border: none;
    margin-top: 5px;
}	

.sell-prod-btn
{
	font-size: 80%;
    border-radius: 5px;
    background-color: black;
    border: none;
    float: left;
    margin: 5px;
}

.prod-btn:hover
{
    cursor: default;
    background-color: black;
    border: none;
}

.sell-prod-btn:hover
{
    cursor: default;
    background-color: black;
    border: none;
}

.box-shadow--8dp {
    box-shadow: -5px 5px 10px 1px rgba(0, 0, 0, .14),
                2px -5px 10px 1px rgba(0, 0, 0, .14)
}

.new-item-btn
{
    width: 100px;
	height: 100px;
	z-index: 1;
    background-color: #e99041;
    color: white;
    border-color: #e99041;
    border-radius: 50%;
    position: fixed;
    bottom: 50px;
    right: 400px;
    padding-right: -1000px;
    padding-left: 27px;
}

.new-item-btn:hover
{
    background-color: black;
    color:gray;
    border-color: black;
}

.interest{
    margin-right: 1vw; 
}