.styled-select {
    background-color: transparent;
    height: 35px;
    overflow: hidden;
    width: 150px;
    border: 1px solid;
    border-radius: 5px;
    margin-left: 2px;
    margin-bottom: 10px;
    display: block;
 }

 .styled-select select {
    background-color: transparent;
    border: black;
    border-radius: 5px;
    font-size: 20px;
    height: 35px;
    width: 150px;
    color:black;
 }

 .styled-select:hover, select:hover
 {
    cursor: pointer;
 }