.container-login100 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(img/bg1.jpg);
    width: 100%;  
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1.5vh;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
  }
#forgot{
    color:#fff ;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 3.2vh;
    padding: 1vh;
  }
.flex-centered{
    padding: 5vh 5vh;
}
#title{
    color:#fff;
    font-size: 8.3vh;
    font-weight: 300;
    letter-spacing: 0.15vh;
    word-spacing: 1.4vh; 
    margin-bottom:3.9vh; 
  }
.cat{
  color: rgb(71, 157, 184);
  font-size: 6.3vh;
  text-align: left;
}
.srch{
  color: rgb(216, 118, 38);
  font-size: 125%;
  text-align: center;
}

