.App {
  text-align: center;
  background-color: rgb(190, 159, 120);
}
header{
  background-color: #004a4a;
  text-align: left;
  color: rgb(238, 229, 229);
  font-size: 30pt;
  padding: 20px;
}
footer{
  background-color: #004a4a;
  text-align: left;
  color: rgb(238, 229, 229);
  font-size: 14pt;
  padding: 20px;
}
nav {
  background-color: #222;
  font-size: 16pt;
  padding: 10px;
}
div{
  font-display: bold;
  font-size: 14pt;
}
h3{
  color: rgb(128, 156, 52);
  font-size: 12;
  font: italic;
}
h4{
  text-align: center;
  background-color: rgb(190, 159, 120);
  font-size: 20pt;
  padding:20px;
  color: rgb(45, 45, 109);
}